.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-primary);
}
